<script lang="ts">
  import axios from "axios"
  import { browser } from "$app/env"

  const projectPathWithNamespace = "cbenz/test-data-package-3"
  let project

  $: if (browser) {
    fetchInitialData()
  }

  async function fetchInitialData() {
    console.log("-- fetchInitialData client")
    const { Gitlab } = (await import("@gitbeaker/browser")).default

    const gitlab = await axios.get("/api/get-gitlab.json")

    const gitlabClient = new Gitlab({
      host: gitlab.data.gitlabUrl,
      oauthToken: gitlab.data.gitlabBotAccessToken,
    })

    const { Projects } = gitlabClient

    project = await Projects.show(projectPathWithNamespace)
    console.log({project})
  }
</script>

<h2>project: {projectPathWithNamespace}</h2>

<a href={project?.http_url_to_repo}>{project?.name_with_namespace}</a>
