<script lang="ts">
  import axios from "axios"
  import { browser } from "$app/env"

  const projectPathWithNamespace = "cbenz/test-data-package-3"
  let response = null

  $: if (browser) {
    fetchInitialData()
  }

  async function fetchInitialData() {
    console.log("-- fetchInitialData server")

    response = await axios.get("/api/test-gitbeaker.json", {
      params: {
        project: projectPathWithNamespace,
      },
    })
  }

  console.log({response})

</script>

<h2>project: {projectPathWithNamespace}</h2>

<a href={response?.data?.project?.http_url_to_repo}>{response?.data?.project?.name_with_namespace}</a>
